# ChameleonCloud-provided
git+https://github.com/ChameleonCloud/jupyterhub-chameleon
kubernetes==25.3.0
PyJWT==2.4.0
escapism==1.0.1
# JupyerHub 5.2 is still on oauthenticator 17.1, but 17.2 introduces refresh_user which
# improves user experience
oauthenticator>=17.2.0